<!DOCTYPE html>
<html ng-app="admin-auctions-manage">
<head>
    <title>Auctions</title>
    <link rel="stylesheet" href="/public/css/external/bootstrap.min.css" >
    <link rel="stylesheet" href="/public/css/external/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/external/jquery-ui.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body class="simple">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand custom" href="#">Auxy</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/auctions">Auctions</a></li>
                <li class="active"><a href="#">Manage</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= user.local.email %><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/profile">My Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<% if(user.local.status == 0) { %>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Warning!</strong> The admin has not yet approved your request. Some functionality might be restricted
</div>
<% } %>
<div class="panel panel-default" style="margin: 0px 20px 0px 20px;" ng-controller="auctionManageController" ng-init="auctionId = '<%= data.auctionId %>' ">
    <div class="panel-body" ng-model="auctionData">
        <div class="page-header">
            <div class="btn-toolbar pull-right" role="toolbar">
                <div class="btn-group">
                    <% if(user.local.status == 1) { %>
                    <% if(data.isAllowedForAuction) { %>
                    <!--Allowed-->
                    <button type="button" class="btn btn-success btn-lg " aria-label="Auction Requests" title="You can bid" disabled="disabled" ><i class="fa fa-unlock"></i></button>
                    <% } %>
                    <% if(! data.isAllowedForAuction) {%>
                    <button type="button" class="btn btn-warning btn-lg" aria-label="Auction Requests" title="Request Access"><i class="fa fa-lock"></i></button>
                    <% }%>
                    <% } %>
                    <button type="button" class="btn btn-default btn-lg" aria-label="Auction Requests" title="Requests" ng-click="getAuctionParticipationRequests()"><i class="fa fa-bullhorn"></i></button>
                    <button type="button" class="btn btn-default btn-lg" aria-label="Auction Information" title="Information" data-toggle="collapse" data-target="#auctionInfoPanel" ><i class="fa fa-info"></i></button>
                </div>
            </div>
            <h1>{{auctionData.auctionName}}</h1>
        </div>
        <!--Auction Info Start-->
        <div class=" collapse" id="auctionInfoPanel">
            <div class="container" style="background-color: #1abc9c; width: 100%; height: 100%; margin-bottom: 10px;">
                <div class="row" style="margin: 10px;">
                    <h3 class="enhance lead text-center text-uppercase" ><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Description</h3>
                    <p class="lead text-center white">{{auctionData.auctionDescription}}</p>
                    <h3 class="enhance lead text-center text-uppercase"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> By</h3>
                    <p class="lead text-center white">{{auctionData.auctionCreatedBy}}</p>
                    <h3 class="enhance lead text-center text-uppercase"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Date</h3>
                    <p class="lead text-center white">{{auctionData.auctionDateOfAuction}}</p>
                    <h3 class="enhance lead text-center text-uppercase"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Items</h3>
                    <p class="lead text-center white">{{auctionData.auctionItems.length}}</p>
                </div>
            </div>
        </div>
        <!--Auction Info End-->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 gutter">
                <div style="background-color: #2980b9; width: 100%; height: 50px;">
                    <div class="container-fluid">
                        <div>
                            <p class=" enhance text-center white">{{auctionData.isActive ? 'Auction is on schedule' : 'Auction is inactive and may not be held'}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div style="background-color: #9b59b6; width: 100%; height: 50px;">
                    <div  ng-if="auctionData.auctionState == 0">
                        <p class=" enhance text-center white">Auction not started</p>
                    </div>
                    <div ng-if="auctionData.auctionState == 1">
                        <p class=" enhance text-center white">Auction completed</p>
                    </div>
                    <div ng-if="auctionData.auctionState == 2">
                        <p class=" enhance text-center white">Auction is in progress</p>
                    </div>
                </div>
            </div>
        </div>
        <!--ng-repeat="item in auctionData.auctionItems"-->
        <div ng-repeat="item in auctionData.auctionItems">
            <div class="gutter"></div>
            <div class="row" ng-init="item.meta.displayTime.minute = 0; item.meta.displayTime.second = 0; item.meta.biddingSummaryText = item.itemState == 1 ? 'auction completed' : 'auction in progress' ; item.meta.biddingSummaryText = item.itemState == 2 ? 'auction in progress' : ''; item.meta.biddingSummaryText = item.itemState == 1 ? 'auction completed' : 'auction in progress'  ; item.meta.auctionForItemStarted = false; item.meta.isStartDisabled = false;">
                <div class="col-xs-12 col-sm-6 col-md-8 gutter">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button type="button" class="btn pull-right" ng-class="{'btn-success disabled' : item.itemState == 1, 'btn-default' : item.itemState != 1}" aria-label="Start Auction" ng-click="manageAuctionForItem(item)"  ng-disabled="item.meta.isStartDisabled"><i ng-class=" { 'fa-play' : item.itemState == 0 , 'fa-stop' : item.itemState == 2 , 'fa-check' : item.itemState == 1 }" class="fa"></i></button>
                            <p class="enhance text-left text-uppercase"><i class="fa fa-bookmark-o fa-2x"></i> {{item.name}}</p>
                        </div>
                        <div class="panel-body">
                            {{item.description}}
                        </div>
                        <div class="panel-footer">
                            <ul class="list-inline">
                                <li><strong>Currency</strong> {{item.currency}}</li>
                                <li><strong>Quantity</strong> {{item.quantity}}</li>
                                <li><strong>Start</strong> {{item.startTime}}</li>
                                <li><strong>End</strong> {{item.endTime}}</li>
                                <li><strong>Floor Price</strong> {{item.floorPrice}}</li>
                                <li><strong>Minimum Increment</strong> {{item.minimumIncrement}}</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default" ng-class="{'disabled' : item.itemState == 1}"><i class="fa fa-gears"></i></button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-class="{'disabled' : item.itemState == 1}">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><i class="fa fa-plus"></i> 1 Minute</a></li>
                                    <li><a href="#"><i class="fa fa-plus"></i> 5 Minutes</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="fa fa-minus"></i> 1 Minute</a></li>
                                </ul>
                            </div>
                            <p class="enhance"><i class="fa fa-users fa-2x"></i></p>
                        </div>
                        <div class="panel-body">
                            <div class="bidders-info">
                                <div class="heading">
                                    <p class="enhance"> {{item.meta.displayTime.minute}} : {{item.meta.displayTime.second}} </p>
                                </div>
                                <div class="body">
                                    <p> {{item.meta.biddingSummaryText}} </p>
                                </div>
                            </div>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr/>
        </div>

        <!--Auction Requests to participate Modal-->
        <div class="modal fade" id="requestsModal" ng-init="auctionData.participationRequests.isLoaded = false; auctionData.participationRequests.areRequestsAvailable = false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Requests for {{auctionData.auctionName}}</h4>
                    </div>
                    <div class="modal-body">
                        <div id="requestsAccessAlert">
                            <!-- Add alert details dynamically -->
                        </div>
                        <p class="text-center" ng-show="!(auctionData.participationRequests.isLoaded)" ng-hide="auctionData.participationRequests.isLoaded">Getting data please wait...</p>
                        <div class="container-fluid">
                            <table class="table table-responsive table-striped table-hover" ng-show="auctionData.participationRequests.areRequestsAvailable" ng-hide="!(auctionData.participationRequests.areRequestsAvailable)">
                                <thead>
                                <tr>
                                    <th>By</th>
                                    <th>Status</th>
                                    <th>Message</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="request in auctionData.participationRequests.data">
                                    <td>{{request.requestedBy}}</td>
                                    <td><input type="checkbox" ng-model="request.isApproved" /></td>
                                    <td style="white-space: pre-wrap">{{request.message}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-show="auctionData.participationRequests.areRequestsAvailable" ng-hide="!(auctionData.participationRequests.areRequestsAvailable)" ng-click="submitAuctionRequestApprovals()">Submit</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

</div>
<!-- Scripts -->
<script src="/public/js/external/jquery.min.js"></script>
<script src="/public/js/external/jquery-ui.min.js"></script>
<script src="/public/js/external/bootstrap.min.js"></script>
<script src="/public/js/external/angular.min.js"></script>
<script src="/public/controllers/auctions.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    $(function(){

    });
</script>
</body>
</html>