<!DOCTYPE html>
<html>
<head>
    <title>Admin Dasboard</title>
    <link href="/public/css/external/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/external/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/quick-dash.css">
</head>

<body class="simple">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand custom" href="#">Auxy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="/auctions">Auctions</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= user.local.email %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/Profile">My Profile</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% if(user.local.status == 0) { %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Warning!</strong> The admin has not yet approved your request. Some functionality might be restricted
  </div>
<% } %>


  <!-- TOP CIRCULAR QUICK MANAGE START -->
  <section style="background:#efefe9;">
    <div class="container">
      <div class="row">
        <div class="board">
          <div class="board-inner">
            <ul class="nav nav-tabs" id="quickManage">
              <div class="liner"></div>
              <li class="active">
                <a href="#home" data-toggle="tab" title="Welcome">
                  <span class="round-tabs one">
                    <i class="glyphicon glyphicon-home"></i>
                  </span>
                </a></li>

                <li><a id="profile-link" href="#profile" data-toggle="tab" title="Profile">
                  <span class="round-tabs two">
                    <i class="fa fa-users"></i>
                  </span>
                </a>
              </li>
              <li><a href="#messages" data-toggle="tab" title="Notifications">
                <span class="round-tabs three">
                  <i class="fa fa-bell"></i>
                </span> </a>
              </li>

              <li><a href="#settings" data-toggle="tab" title="News">
                <span class="round-tabs four">
                  <i class="fa fa-newspaper-o"></i>
                </span>
              </a></li>

              <li><a href="#doner" data-toggle="tab" title="Live Stats">
                <span class="round-tabs five">
                  <i class="fa fa-bar-chart"></i>
                </span> </a>
              </li>

            </ul></div>

            <div class="tab-content">
              <div class="tab-pane fade in active" id="home">

                <h3 class="head text-center">QUICK ACCESS</h3>
                <p class="narrow text-center enhance">
                  Access most common tasks and important updates from here. Get started by clicking any of the above icons
                </p>

              </div>
              <div class="tab-pane fade" id="profile">
                <h3 class="head text-center">Manage Requests</h3>
                <p class="narrow text-center enhance">
                  Manage users that require your approval!
                </p>

                <!-- REQUESTS START -->
                <div class="container">
                  <p>
                    <a id="approve-requests" href="" class="btn btn-success btn-outline-rounded green"> Approve<span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                  </p>
                  <div class="table-responsive table-bordered" style="margin-bottom:10px;">
                    <table id="requestsTable" class="table table-bordred table-striped">
                      <thead>
                        <th><input type="checkbox" id="checkall" /></th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Admin</th>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
              </div>
                <!-- REQUESTS END -->

              </div>
              <div class="tab-pane fade" id="messages">
                <h3 class="head text-center">Notifications</h3>
                <p class="narrow text-center enhance">
                  Other Notifications
                </p>

                <p class="text-center">
                  <a href="" class="btn btn-success btn-outline-rounded green"> Auxy <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                </p>
              </div>
              <div class="tab-pane fade" id="settings">
                <h3 class="head text-center"> News</h3>
                <p class="narrow text-center enhance">
                  All news overhere
                </p>

                <p class="text-center">
                  <a href="" class="btn btn-success btn-outline-rounded green"> Learn More <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                </p>
              </div>
              <div class="tab-pane fade" id="doner">
                <div class="text-center">
                  <i class="img-intro icon-checkmark-circle"></i>
                </div>
                <h3 class="head text-center">Live Stats</h3>
                <p class="narrow text-center enhance">
                  Statistics on the fly
                </p>
              </div>
              <div class="clearfix"></div>
            </div>

          </div>
        </div>
      </div>
    </section>


  <!-- TOP CIRCULAR QUICK MANAGE END -->

<!-- Scripts -->
<script src="/public/js/external/jquery.min.js"></script>
<script src="/public/js/external/bootstrap.min.js"></script>
<script src="/public/js/dashboard.js"></script>
</body>
</html>
