<!DOCTYPE html>
<html ng-app="admin-auctions">
<head>
    <title>Auctions</title>
    <link rel="stylesheet" href="/public/css/external/bootstrap.min.css" >
    <link rel="stylesheet" href="/public/css/external/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/external/jquery-ui.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body class="simple">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand custom" href="#">Auxy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">Dashboard</a></li>
        <li class="active"><a href="#">Auctions</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= user.local.email %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/Profile">My Profile</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% if(user.local.status == 0) { %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Warning!</strong> The admin has not yet approved your request. Some functionality might be restricted
  </div>
<% } %>

<!-- Auctions Wizard START -->
<div class="panel panel-default" style="margin: 20px;" ng-controller="auctionsWizardController">
  <div class="panel-heading">
    <h3 class="panel-title"><p class="enhance">Auction Wizard</p></h3>
  </div>
  <div class="panel-body">
    <!-- WIZARD -->
    <div class="container">
      <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
            <p>CREATE AUCTION</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
            <p>ADD ITEMS</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
            <p>FINISH</p>
          </div>
        </div>
      </div>
      <form role="form">
        <div class="row setup-content" id="step-1">
          <div class="col-xs-12">
            <div class="col-md-12">
              <h3> Create an Auction</h3>
              <div class="form-group">
                <label class="control-label">Auction Name</label>
                <input id="wizard-auctionName" ng-model="auctionName" maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Auction Name"  />
              </div>
              <div class="form-group">
                <label class="control-label">Auction Description</label>
                <textarea id="wizard-auctionDescription" ng-model="auctionDescription" class="form-control" rows="3" placeholder="Enter Auction Description"> </textarea>
              </div>
              <div class="form-group">
                <label class="control-label">Date of Auction</label>
                <input id="wizard-auctionDate" ng-model="auctionDateOfAuction" maxlength="10" type="text" required="required" class="form-control" placeholder="Enter Date of Auction" />
              </div>
              <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
            </div>
          </div>
        </div>
        <div class="row setup-content" id="step-2">
          <div class="col-xs-12">
            <div class="col-md-12">
              <h3> Add items to <label class="enhance" style="color:#3498db">{{auctionName}}</label></h3>
              <div class="panel panel-default widget">
                <div class="panel-heading">
                  <div class="panel-title">
                    <button id="addItem" type="button" class="btn btn-info" data-toggle="modal" data-target="#addEditItemModal" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <div class="pull-right">
                      <button type="button" class="btn btn-link" disabled="disabled">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{auctionItems.length}}
                      </button>
                     </div>
                  </div>
                </div>
                <div class="panel-body">
                  <!-- List group -->
                  <ul id="sortable" class="list-group">
                    <li ng-repeat="item in auctionItems" class="list-group-item">
                      <div class="row">
                        <div class="col-xs-2 col-md-1">
                          <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                        <div class="col-xs-10 col-md-11">
                          <div>
                            <a href="#">{{item.name}}</a>
                            <div class="mic-info">QUANTITY: {{item.quantity}} | START: {{item.startTime}} | END: {{item.endTime}}</div>
                          </div>
                          <div class="comment-text" style="white-space: pre-wrap;">{{item.description}}</div>
                          <div class="action">
                            <!--<button type="button" ng-click="invokeUpdateAuctionItemModal(item)" class="btn btn-primary btn-xs" title="Edit">-->
                              <!--<span class="glyphicon glyphicon-pencil"></span>-->
                            <!--</button>-->
                            <button type="button" ng-click="removeItemFromAuction(item)" class="btn btn-danger btn-xs" title="Delete">
                              <span class="glyphicon glyphicon-trash"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </li>
                  </ul>
                </div>
                <!--<hr>-->
                <!--<pre ng-bind="auctionItems|json"></pre>-->
              </div>

              <div class="form-group">

              </div>

              <div class="row">
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row setup-content" id="step-3">
          <div class="col-xs-12">
            <div class="col-md-12">
              <h3> Ready to Finish!</h3>
              <div id="finishAlert">
                <!-- Add alert details dynamically -->
              </div>
              <div class="well">
                <p>
                  Click Finish to save the auction <strong>{{auctionName}}</strong> having <strong>{{auctionItems.length}}</strong> item(s).
                </p>
              </div>
              <button class="btn btn-success btn-lg pull-right" type="submit" ng-click="sendAuctionInfoToServer()">Finish!</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- WIZARD -->
  </div>
  <!-- Add Auction Items Modal Start -->
  <div class="modal fade" id="addEditItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Adding items to <label class="enhance" style="color:#3498db">{{auctionName}}</label> </h4>
        </div>
        <div class="modal-body">
          <div id="saveAlert">
            <!-- Add alert details dynamically -->
          </div>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputItemName" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input ng-model="itemName" type="text" class="form-control" id="inputItemName" placeholder="Name" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputItemDescription" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <textarea ng-model="itemDescription" type="text" class="form-control" id="inputItemDescription" placeholder="Description" rows="3"> </textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="inputItemCurrency" class="col-sm-2 control-label">Currency</label>
              <div class="col-sm-10">
                <select id="inputItemCurrency" class="form-control" ng-model="itemCurrency" ng-selected="1" ng-options="key as value for (key, value) in currencyList"></select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputItemFloorPrice" class="col-sm-2 control-label">Floor Price</label>
              <div class="col-sm-10">
                <input ng-model="itemFloorPrice" type="number" class="form-control" id="inputItemFloorPrice" placeholder="Floor Price" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputItemMinimumIncrement" class="col-sm-2 control-label">Minimum Increment</label>
              <div class="col-sm-10">
                <input ng-model="itemMinimumIncrement" type="number" class="form-control" id="inputItemMinimumIncrement" placeholder="Minimum Increment" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputItemQuantity" class="col-sm-2 control-label">Quantity</label>
              <div class="col-sm-10">
                <input ng-model="itemQuantity" type="number" class="form-control" id="inputItemQuantity" placeholder="Quantity" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputStartTime" class="col-sm-2 control-label">Start Time</label>
              <div class="col-sm-10">
                <input ng-model="itemStartTime" type="datetime" class="form-control" id="inputStartTime" placeholder="Start Time" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEndTime" class="col-sm-2 control-label">End Time</label>
              <div class="col-sm-10">
                <input ng-model="itemEndTime" type="datetime" class="form-control" id="inputEndTime" placeholder="End Time" required>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="addItemToAuction()" >Save</button>
        </div>
      </div>
    </div>
  </div>
  <!--Add Auction Items Modal End-->
</div>

<!-- Auctions Wizard END -->

<!-- VIEW Auctions START -->

<!-- TIME LINE START -->
<div class="panel panel-default" style="margin: 20px;" ng-controller="auctionsTimeLineController">
  <div class="panel-body">
<div class="container">
  <div class="page-header">
    <h1 id="timeline">Auctions Timeline
      <small>
        <button class="btn btn-success pull-right" ng-click="timeLineRefresh()"><span class="glyphicon glyphicon-refresh " aria-hidden="true"></span></button>
      </small>
      <div class="clearfix">
        <h4><small class="pull-right">Refreshed <strong style="color:#3498db">{{lastRefreshText}}</strong> ago </small></h4>
      </div>
    </h1>
  </div>
  <ul class="timeline" ng-repeat="item in timeLineElements">
    <li ng-class="{'timeline-inverted': item.auctionState == '1'}">
      <div ng-if="item.auctionState == '0'" class="timeline-badge"><i class="glyphicon glyphicon glyphicon-eye-close"></i></div>
      <div ng-if="item.auctionState == '1'" class="timeline-badge info"><i class="glyphicon glyphicon glyphicon-eye-open"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{item.auctionName}}</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{item.auctionDateOfAuction}} by <strong>{{item.auctionCreatedBy}}</strong></small></p>
        </div>
        <div class="timeline-body">
          <p style="white-space: pre-wrap;">{{item.auctionDescription}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>
</div>
<!-- TIME LINE END -->


<!-- VIEW Auctions END -->
<!-- Scripts -->
<script src="/public/js/external/jquery.min.js"></script>
<script src="/public/js/external/jquery-ui.min.js"></script>
<script src="/public/js/external/bootstrap.min.js"></script>
<script src="/public/js/external/angular.min.js"></script>
<script src="/public/controllers/auctions.js"></script>
<script>
$(document).ready(function () {
  $( "#wizard-auctionDate" ).datepicker({ minDate: -3, maxDate: "+10Y" });
  $( "#sortable" ).disableSelection();
  var navListItems = $('div.setup-panel div a'),
  allWells = $('.setup-content'),
  allNextBtn = $('.nextBtn');

  allWells.hide();

  navListItems.click(function (e) {
    e.preventDefault();
    var $target = $($(this).attr('href')),
    $item = $(this);

    if (!$item.hasClass('disabled')) {
      navListItems.removeClass('btn-primary').addClass('btn-default');
      $item.addClass('btn-primary');
      allWells.hide();
      $target.show();
      $target.find('input:eq(0)').focus();
    }
  });

  allNextBtn.click(function(){
    var curStep = $(this).closest(".setup-content"),
    curStepBtn = curStep.attr("id"),
    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
    curInputs = curStep.find("input[type='text'],input[type='url']"),
    isValid = true;

    $(".form-group").removeClass("has-error");
    for(var i=0; i<curInputs.length; i++){
      if (!curInputs[i].validity.valid){
        isValid = false;
        $(curInputs[i]).closest(".form-group").addClass("has-error");
      }
    }

    if (isValid)
      nextStepWizard.removeAttr('disabled').trigger('click');
    });

    $('div.setup-panel div a.btn-primary').trigger('click');
  });
</script>
</body>
</html>
